{% extends "layout.html" %}

{% block content %}
<h1>Contactez-Nous</h1>

<!-- Bouton pour afficher/masquer le formulaire -->
<button onclick="toggleForm('contact-form')">Afficher/Masquer Formulaire</button>

<!-- Formulaire caché -->
<div id="contact-form" style="display:none;">
    <h2>Formulaire de Contact</h2>
    <form action="/contact" method="POST">
        <label for="contact-info">Votre message :</label>
        <input type="text" id="contact-info" name="contact-info" required>
        <input type="submit" value="Envoyer">
    </form>
</div>

<script>
    function toggleForm(formId) {
        const form = document.getElementById(formId);
        form.style.display = form.style.display === 'block' ? 'none' : 'block';
    }
</script>
{% endblock content %}
